

<div class="row">
    <div class="col">
        <div class="pb-3">
            <h4>Search Product</h4>
            <select name="" id="" class="product-search col">
                <option value="">Eg. parle</option>
            </select>
        </div>
        <h2 class="mb-2">Selected Products</h2>
        <ul class="list-group" id="selectedProduct">
            {{!-- <li class="list-group-item">
                <div class="align-items-center">
                    <h2> ${name} <span class="badge badge-secondary">${brand}</span></h2>
                    <div class="col row mb-3">
                        <button class="col-auto btn-primary btn-xs">-</button>
                        <input type="text" value="0" class="col">
                        <button class="col-auto btn-primary btn-xs">+</button>
                    </div>
                </div>
            </li> --}}
        </ul>
    </div>
    <div class="col col-md-4">
        <h4 class="mb-2">User Cart Total</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h5>Monaco <span class="badge badge-primary">Parle</span></h5>
                    </td>
                    <td>2</td>
                    <td>20</td>
                    <td>40</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total</td>
                    <td>40</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>