

<div class="row">
    <div class="col">
        <div class="pb-3">
            <h4>Search Product</h4>
            <select name="" id="" class="product-search col">
                <option value="">Eg. parle</option>
            </select>
        </div>
        <h2 class="mb-2">Selected Products</h2>
        <ul class="list-group" id="selectedProduct">
            
        </ul>
    </div>
</div>